<button mat-fab extended>
  <mat-icon>home</mat-icon>
  Home
</button>

<button mat-fab extended>
  <mat-icon>medication</mat-icon>
  Medicamentos
</button>

<button mat-fab extended>
  <mat-icon>personal_injury</mat-icon>
  Pacientes
</button>

<button mat-fab extended>
  <mat-icon>medical_information</mat-icon>
  Criar Nova Receita
</button>

Olá, User
<button mat-fab extended>
  <mat-icon>account_circle</mat-icon>
  Configurações da Conta  
</button>



<br><br>

<h1>Lista de Receitas Médicas</h1>
<mat-slide-toggle>Filtrar por paciente</mat-slide-toggle>
<br>
<input type="text" placeholder="Nome do Paciente">
<br>
Tabela de receitas.